name: Run Tests

on:
  pull_request:
    branches:
      - main

jobs:
  python-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          version: "latest"

      - name: Install dependencies
        working-directory: blend_api
        run: uv sync --dev

      - name: Run python tests
        working-directory: blend_api
        run: make test

  node-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: npm install

      - name: Run node tests
        run: npm run test